.info-icon-wrapper {
  position: relative;
  display: inline-block;
}

.custom-tooltip {
  background-color: #ffffff;
  visibility: hidden;
  border: 1px solid #0000000d;
  opacity: 0;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  white-space: normal;
  word-wrap: break-word;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1050;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  width: 200px;
  max-width: 250px;
}

.info-icon-wrapper:hover .custom-tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip-container {
  position: relative;
  z-index: 0;
}
